/* Add CSS Styling */
.one,
.two {
    font-size: 28px;
    font-family: helvetica, sans-serif, 'Times New Roman';
}

.one {
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
}

.two {
    background-color: rgb(252, 223, 0);
    color: rgb(0, 0, 0);
}